$c-primary: #374140;
$c-secondary: #da793f;
$c-grey: #a9a9a9;
$c-black: #1e1e20;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'layout';
@import './components/sidebar';
@import './components/main';
@import './components/favorites';
